In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')
print(train_data.head())
print(test_data.head())

  transaction_id     num_var_1  num_var_2  num_var_3     num_var_4  \
0          id_11  2.302632e-08   0.040182        0.0  1.800000e-07
1          id_33  7.965789e-06   0.157872        0.0  2.105000e-06
2          id_51  7.828947e-08   0.089140        0.0  3.550000e-07
3          id_54  7.894737e-08   0.227239        0.0  1.050000e-06
4          id_62  3.321053e-06   0.160410        0.0  2.105000e-06

      num_var_5     num_var_6     num_var_7 cat_var_1 cat_var_2  ...    \
0  2.302632e-08  2.368421e-08  1.115205e-08       NaN        ce  ...
1  2.769737e-07  7.965789e-06  2.433058e-06        da        tn  ...
2  4.671053e-08  1.052632e-07  4.276014e-07        gf        ce  ...
3  1.381579e-07  2.190789e-07  1.848054e-08       NaN        ce  ...
4  2.769737e-07  3.340789e-06  2.152983e-06        da        tn  ...

  cat_var_34 cat_var_35 cat_var_36 cat_var_37 cat_var_38 cat_var_39  \
0          0          0          0          0          0          0
1          0          0          0          0          0          0
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4          0          0          0          0          0          0

  cat_var_40 cat_var_41 cat_var_42 target
0          0          0          0      0
1          0          0          0      0
2          0          0          0      0
3          0          0          0      0
4          0          0          0      0

[5 rows x 51 columns]
  transaction_id     num_var_1  num_var_2  num_var_3     num_var_4  \
0           id_1  4.736842e-07   0.162737        0.0  2.105000e-06
1           id_6  6.578947e-08   0.086391        0.0  7.500000e-07
2           id_9  1.585526e-07   0.159987        0.0  2.105000e-06
3          id_14  8.552632e-08   0.088083        0.0  7.500000e-07
4          id_15  1.144737e-07   0.089563        0.0  3.550000e-07

      num_var_5     num_var_6     num_var_7 cat_var_1 cat_var_2    ...      \
0  2.769737e-07  4.828947e-07  1.300010e-07        da        tn    ...
1  1.315789e-07  9.868421e-08  3.186300e-08        pu        ce    ...
2  2.769737e-07  1.585526e-07  4.715724e-08        da        tn    ...
3  8.552632e-08  9.868421e-08  4.142190e-08        pu        ce    ...
4  4.671053e-08  4.407895e-08  1.452953e-07        gf        ce    ...

  cat_var_33 cat_var_34 cat_var_35 cat_var_36 cat_var_37 cat_var_38  \
0          0          0          0          0          0          0
1          0          0          0          0          0          0
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4          0          0          0          0          0          0

  cat_var_39 cat_var_40 cat_var_41 cat_var_42
0          0          0          0          0
1          0          0          0          0
2          0          0          0          0
3          0          0          0          0
4          0          0          0          0

[5 rows x 50 columns]

In [3]:
print(train_data.shape)
print(test_data.shape)

(348978, 51)
(523466, 50)

In [4]:
train_data.dtypes

transaction_id     object
num_var_1         float64
num_var_2         float64
num_var_3         float64
num_var_4         float64
num_var_5         float64
num_var_6         float64
num_var_7         float64
cat_var_1          object
cat_var_2          object
cat_var_3          object
cat_var_4          object
cat_var_5          object
cat_var_6          object
cat_var_7          object
cat_var_8          object
cat_var_9          object
cat_var_10         object
cat_var_11         object
cat_var_12         object
cat_var_13         object
cat_var_14         object
cat_var_15         object
cat_var_16         object
cat_var_17         object
cat_var_18         object
cat_var_19          int64
cat_var_20          int64
cat_var_21          int64
cat_var_22          int64
cat_var_23          int64
cat_var_24          int64
cat_var_25          int64
cat_var_26          int64
cat_var_27          int64
cat_var_28          int64
cat_var_29          int64
cat_var_30          int64
cat_var_31          int64
cat_var_32          int64
cat_var_33          int64
cat_var_34          int64
cat_var_35          int64
cat_var_36          int64
cat_var_37          int64
cat_var_38          int64
cat_var_39          int64
cat_var_40          int64
cat_var_41          int64
cat_var_42          int64
target              int64
dtype: object

In [5]:
target = train_data['target']
del train_data['target']
del train_data['transaction_id']

del test_data['transaction_id']

In [6]:
train_data.isnull().sum()

num_var_1          0
num_var_2          0
num_var_3          0
num_var_4          0
num_var_5          0
num_var_6          0
num_var_7          0
cat_var_1      15782
cat_var_2          0
cat_var_3      43853
cat_var_4          0
cat_var_5          0
cat_var_6          0
cat_var_7          0
cat_var_8     109738
cat_var_9          0
cat_var_10         0
cat_var_11         0
cat_var_12         0
cat_var_13         0
cat_var_14         0
cat_var_15         0
cat_var_16         0
cat_var_17         0
cat_var_18         0
cat_var_19         0
cat_var_20         0
cat_var_21         0
cat_var_22         0
cat_var_23         0
cat_var_24         0
cat_var_25         0
cat_var_26         0
cat_var_27         0
cat_var_28         0
cat_var_29         0
cat_var_30         0
cat_var_31         0
cat_var_32         0
cat_var_33         0
cat_var_34         0
cat_var_35         0
cat_var_36         0
cat_var_37         0
cat_var_38         0
cat_var_39         0
cat_var_40         0
cat_var_41         0
cat_var_42         0
dtype: int64

In [7]:
test_data.isnull().sum()

num_var_1         0
num_var_2         0
num_var_3         0
num_var_4         0
num_var_5         0
num_var_6         0
num_var_7         0
cat_var_1     18692
cat_var_2         0
cat_var_3     53362
cat_var_4         0
cat_var_5         0
cat_var_6     21943
cat_var_7         0
cat_var_8      8138
cat_var_9         0
cat_var_10        0
cat_var_11        0
cat_var_12        0
cat_var_13        0
cat_var_14        0
cat_var_15        0
cat_var_16        0
cat_var_17        0
cat_var_18        0
cat_var_19        0
cat_var_20        0
cat_var_21        0
cat_var_22        0
cat_var_23        0
cat_var_24        0
cat_var_25        0
cat_var_26        0
cat_var_27        0
cat_var_28        0
cat_var_29        0
cat_var_30        0
cat_var_31        0
cat_var_32        0
cat_var_33        0
cat_var_34        0
cat_var_35        0
cat_var_36        0
cat_var_37        0
cat_var_38        0
cat_var_39        0
cat_var_40        0
cat_var_41        0
cat_var_42        0
dtype: int64

In [8]:
train_data.cat_var_1.fillna('NaN', inplace=True)
train_data.cat_var_3.fillna('NaN', inplace=True)
train_data.cat_var_8.fillna('NaN', inplace=True)


test_data.cat_var_1.fillna('NaN', inplace=True)
test_data.cat_var_3.fillna('NaN', inplace=True)
test_data.cat_var_6.fillna('NaN', inplace=True)
test_data.cat_var_8.fillna('NaN', inplace=True)

In [9]:
train_data.isnull().sum()

num_var_1     0
num_var_2     0
num_var_3     0
num_var_4     0
num_var_5     0
num_var_6     0
num_var_7     0
cat_var_1     0
cat_var_2     0
cat_var_3     0
cat_var_4     0
cat_var_5     0
cat_var_6     0
cat_var_7     0
cat_var_8     0
cat_var_9     0
cat_var_10    0
cat_var_11    0
cat_var_12    0
cat_var_13    0
cat_var_14    0
cat_var_15    0
cat_var_16    0
cat_var_17    0
cat_var_18    0
cat_var_19    0
cat_var_20    0
cat_var_21    0
cat_var_22    0
cat_var_23    0
cat_var_24    0
cat_var_25    0
cat_var_26    0
cat_var_27    0
cat_var_28    0
cat_var_29    0
cat_var_30    0
cat_var_31    0
cat_var_32    0
cat_var_33    0
cat_var_34    0
cat_var_35    0
cat_var_36    0
cat_var_37    0
cat_var_38    0
cat_var_39    0
cat_var_40    0
cat_var_41    0
cat_var_42    0
dtype: int64

In [10]:
test_data.isnull().sum()

num_var_1     0
num_var_2     0
num_var_3     0
num_var_4     0
num_var_5     0
num_var_6     0
num_var_7     0
cat_var_1     0
cat_var_2     0
cat_var_3     0
cat_var_4     0
cat_var_5     0
cat_var_6     0
cat_var_7     0
cat_var_8     0
cat_var_9     0
cat_var_10    0
cat_var_11    0
cat_var_12    0
cat_var_13    0
cat_var_14    0
cat_var_15    0
cat_var_16    0
cat_var_17    0
cat_var_18    0
cat_var_19    0
cat_var_20    0
cat_var_21    0
cat_var_22    0
cat_var_23    0
cat_var_24    0
cat_var_25    0
cat_var_26    0
cat_var_27    0
cat_var_28    0
cat_var_29    0
cat_var_30    0
cat_var_31    0
cat_var_32    0
cat_var_33    0
cat_var_34    0
cat_var_35    0
cat_var_36    0
cat_var_37    0
cat_var_38    0
cat_var_39    0
cat_var_40    0
cat_var_41    0
cat_var_42    0
dtype: int64

In [11]:
train_data.shape

(348978, 49)

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
label_encoder = LabelEncoder()

In [14]:
for cols in train_data.columns:
    if train_data[cols].dtype == 'object':
        print(cols)
        label_encoder.fit(np.hstack((train_data[cols],test_data[cols])))
        train_data[cols] = label_encoder.transform(train_data[cols])
        test_data[cols] = label_encoder.transform(test_data[cols])

cat_var_1
cat_var_2
cat_var_3
cat_var_4
cat_var_5
cat_var_6
cat_var_7
cat_var_8
cat_var_9
cat_var_10
cat_var_11
cat_var_12
cat_var_13
cat_var_14
cat_var_15
cat_var_16
cat_var_17
cat_var_18

In [15]:
train_data.dtypes

num_var_1     float64
num_var_2     float64
num_var_3     float64
num_var_4     float64
num_var_5     float64
num_var_6     float64
num_var_7     float64
cat_var_1       int64
cat_var_2       int64
cat_var_3       int64
cat_var_4       int64
cat_var_5       int64
cat_var_6       int64
cat_var_7       int64
cat_var_8       int64
cat_var_9       int64
cat_var_10      int64
cat_var_11      int64
cat_var_12      int64
cat_var_13      int64
cat_var_14      int64
cat_var_15      int64
cat_var_16      int64
cat_var_17      int64
cat_var_18      int64
cat_var_19      int64
cat_var_20      int64
cat_var_21      int64
cat_var_22      int64
cat_var_23      int64
cat_var_24      int64
cat_var_25      int64
cat_var_26      int64
cat_var_27      int64
cat_var_28      int64
cat_var_29      int64
cat_var_30      int64
cat_var_31      int64
cat_var_32      int64
cat_var_33      int64
cat_var_34      int64
cat_var_35      int64
cat_var_36      int64
cat_var_37      int64
cat_var_38      int64
cat_var_39      int64
cat_var_40      int64
cat_var_41      int64
cat_var_42      int64
dtype: object

In [16]:
train_data.head()

,num_var_1,num_var_2,num_var_3,num_var_4,num_var_5,num_var_6,num_var_7,cat_var_1,cat_var_2,cat_var_3,...,cat_var_33,cat_var_34,cat_var_35,cat_var_36,cat_var_37,cat_var_38,cat_var_39,cat_var_40,cat_var_41,cat_var_42
0,2.302632e-08,0.040182,0.0,1.800000e-07,2.302632e-08,2.368421e-08,1.115205e-08,0,3,75,...,0,0,0,0,0,0,0,0,0,0
1,7.965789e-06,0.157872,0.0,2.105000e-06,2.769737e-07,7.965789e-06,2.433058e-06,66,50,607,...,0,0,0,0,0,0,0,0,0,0
2,7.828947e-08,0.089140,0.0,3.550000e-07,4.671053e-08,1.052632e-07,4.276014e-07,128,3,158,...,0,0,0,0,0,0,0,0,0,0
3,7.894737e-08,0.227239,0.0,1.050000e-06,1.381579e-07,2.190789e-07,1.848054e-08,0,3,140,...,0,0,0,0,0,0,0,0,0,0
4,3.321053e-06,0.160410,0.0,2.105000e-06,2.769737e-07,3.340789e-06,2.152983e-06,66,50,609,...,0,0,0,0,0,0,0,0,0,0

In [17]:
# from sklearn.preprocessing import StandardScaler

In [18]:
# scaler = StandardScaler()

In [19]:
# train_data = scaler.fit_transform(train_data)
# test_data = scaler.fit_transform(test_data)

In [20]:
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, roc_auc_score

C:\Users\windo\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [21]:
xtrain, xtest, ytrain, ytest = train_test_split(train_data, target, test_size = 0.1, random_state=42)

In [22]:
xtest.shape

(34898, 49)

In [23]:
clf = DecisionTreeClassifier()

In [24]:
clf.fit(xtrain, ytrain)
clf.score(xtest, ytest)

0.89982233938907674

In [25]:
pred = clf.predict(test_data)

In [26]:
print(accuracy_score(clf.predict(xtest), ytest))

0.899822339389

In [27]:
print(roc_auc_score(clf.predict(xtest), ytest))

0.737614127776

In [64]:
# sub = pd.read_csv('sample_submissions.csv')
test = pd.read_csv('test.csv')

In [126]:
df = pd.DataFrame(data = {'transaction_id':test.transaction_id, 'target':pred43})
df.head()

   target transaction_id
0       0           id_1
1       0           id_6
2       0           id_9
3       0          id_14
4       0          id_15

In [127]:
del df['target']

In [128]:
df['target'] = pred43

In [129]:
df.head()

  transaction_id  target
0           id_1       0
1           id_6       0
2           id_9       0
3          id_14       0
4          id_15       0

In [130]:
df.to_csv('submission7.csv', index=False)

In [131]:
df1 = pd.read_csv('submission7.csv')
df1.head()

  transaction_id  target
0           id_1       0
1           id_6       0
2           id_9       0
3          id_14       0
4          id_15       0

In [28]:
from sklearn.ensemble import RandomForestClassifier

In [29]:
random_forest = RandomForestClassifier(n_estimators=20)

In [30]:
random_forest.fit(xtrain, ytrain)
random_forest.score(xtest, ytest)

0.92867786119548401

In [31]:
pred2 = random_forest.predict(test_data)

In [32]:
print(accuracy_score(random_forest.predict(xtest), ytest))
print(roc_auc_score(random_forest.predict(xtest), ytest))

0.928677861195
0.923657371587

In [33]:
from sklearn.ensemble import ExtraTreesClassifier

In [38]:
extra_tree = ExtraTreesClassifier(n_estimators=50)

In [39]:
extra_tree.fit(xtrain, ytrain)
extra_tree.score(xtest, ytest)

0.91884921772021322

In [40]:
pred3 = extra_tree.predict(test_data)

In [41]:
print(accuracy_score(extra_tree.predict(xtest), ytest))
print(roc_auc_score(extra_tree.predict(xtest), ytest))

0.91884921772
0.839091321439

In [42]:
from sklearn.ensemble import BaggingClassifier

In [122]:
forest = RandomForestClassifier(n_estimators=20)
KNN = KNeighborsClassifier()
bag = BaggingClassifier(base_estimator = KNN, n_estimators=10, max_samples=0.5, verbose=1)

In [123]:
bag.fit(xtrain, ytrain)
bag.score(xtest, ytest)

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:  2.3min finished
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:  1.6min finished

0.91351939939251536

In [124]:
# pred4 = bag.predict(test_data)
# pred41 = bag.predict(test_data)
# pred42 = bag.predict(test_data)
pred43 = bag.predict(test_data)

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed: 23.0min finished

In [125]:
print(accuracy_score(bag.predict(xtest), ytest))
print(roc_auc_score(bag.predict(xtest), ytest))

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:  1.6min finished

0.913519399393
0.915892827948

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:  1.6min finished

In [47]:
from sklearn.ensemble import AdaBoostClassifier

In [58]:
forest = RandomForestClassifier()
ada = AdaBoostClassifier(base_estimator=forest, n_estimators=100)

In [59]:
ada.fit(xtrain, ytrain)
ada.score(xtest, ytest)

0.91369132901598948

In [60]:
pred5 = ada.predict(test_data)

In [61]:
print(accuracy_score(ada.predict(xtest), ytest))
print(roc_auc_score(ada.predict(xtest), ytest))

0.913691329016
0.803164647702

In [52]:
from sklearn.ensemble import GradientBoostingClassifier

In [110]:
grad = GradientBoostingClassifier()

In [54]:
grad.fit(xtrain, ytrain)
grad.score(xtest, ytest)

0.91735916098343739

In [55]:
pred6 = grad.predict(test_data)

In [56]:
print(accuracy_score(grad.predict(xtest), ytest))
print(roc_auc_score(grad.predict(xtest), ytest))

0.917359160983
0.9309057235

In [111]:
from sklearn.neighbors import KNeighborsClassifier
# from sklearn.model_selection import GridSearchCV

In [116]:
KNN = KNeighborsClassifier(n_neighbors=5)
KNN.fit(xtrain, ytrain)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [117]:
KNN.score(xtest, ytest)

0.90604046077139089

In [ ]:
pred3 = KNN.predict(test_data)

In [ ]:
print(accuracy_score(KNN.predict(xtest), ytest))
print(roc_auc_score(KNN.predict(xtest), ytest))

In [ ]:
2

In [ ]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

In [ ]:
from time import time

In [ ]:
print("Fitting the classifier to the training set")
t0 = time()
param_grid = {'C': [1e3, 5e3, 1e4, 5e4, 1e5],
              'gamma': [0.0001, 0.0005, 0.001, 0.005, 0.01, 0.1], }
clf = GridSearchCV(SVC(kernel='rbf', class_weight='balanced'), param_grid)
clf = clf.fit(xtrain, ytrain)
print("done in %0.3fs" % (time() - t0))
print("Best estimator found by grid search:")
print(clf.best_estimator_)

In [ ]:
svc = SVC(kernel = 'linear', C=5)

In [ ]:
svc.fit(xtrain[:1000], ytrain[:1000])
svc.score(xtest[:500], ytest[:500])

In [86]:
import keras

Using TensorFlow backend.

In [87]:
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout, Conv2D, MaxPooling2D, Flatten
from keras.optimizers import Adam

In [88]:
x_train = np.array(xtrain)
y_train = np.array(ytrain)

x_test = np.array(xtest)
y_test = np.array(ytest)

In [90]:
model = Sequential()

model.add(Dense(32, input_dim = 49, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_2 (Dense)              (None, 32)                1600
_________________________________________________________________
dense_3 (Dense)              (None, 32)                1056
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 33
=================================================================
Total params: 2,689
Trainable params: 2,689
Non-trainable params: 0
_________________________________________________________________

In [91]:
ad = Adam()
model.compile(loss='binary_crossentropy', optimizer=ad, metrics=['accuracy'])
model.fit(x_train, ytrain, epochs=10, batch_size=10, validation_data=(x_test, ytest))

Train on 314080 samples, validate on 34898 samples
Epoch 1/10
314080/314080 [==============================] - 34s - loss: 1.1110 - acc: 0.8986 - val_loss: 0.3024 - val_acc: 0.9095
Epoch 2/10
314080/314080 [==============================] - 32s - loss: 0.2934 - acc: 0.9127 - val_loss: 0.2947 - val_acc: 0.9104
Epoch 3/10
314080/314080 [==============================] - 32s - loss: 0.2912 - acc: 0.9123 - val_loss: 0.2945 - val_acc: 0.9115
Epoch 4/10
314080/314080 [==============================] - 32s - loss: 0.2894 - acc: 0.9131 - val_loss: 0.2925 - val_acc: 0.9114
Epoch 5/10
314080/314080 [==============================] - 32s - loss: 0.2891 - acc: 0.9129 - val_loss: 0.2903 - val_acc: 0.9122
Epoch 6/10
314080/314080 [==============================] - 32s - loss: 0.2883 - acc: 0.9132 - val_loss: 0.2948 - val_acc: 0.9122
Epoch 7/10
314080/314080 [==============================] - 32s - loss: 0.2883 - acc: 0.9130 - val_loss: 0.2897 - val_acc: 0.9120
Epoch 8/10
314080/314080 [==============================] - 32s - loss: 0.2878 - acc: 0.9132 - val_loss: 0.2901 - val_acc: 0.9121
Epoch 9/10
314080/314080 [==============================] - 32s - loss: 0.2874 - acc: 0.9133 - val_loss: 0.2958 - val_acc: 0.9110
Epoch 10/10
314080/314080 [==============================] - 33s - loss: 0.2872 - acc: 0.9133 - val_loss: 0.2905 - val_acc: 0.9115

In [92]:
model.evaluate(x_test, y_test)

31968/34898 [==========================>...] - ETA: 0s

[0.29050203937672292, 0.9115422087259788]

In [94]:
test_data = np.array(test_data)

In [96]:
pred = model.predict_classes(test_data)
pred

521056/523466 [============================>.] - ETA: 0s

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

In [103]:
pred = pred.reshape((523466))

In [98]:
predict =model.predict_classes(x_test)

32672/34898 [===========================>..] - ETA: 0s

In [100]:
roc_auc_score(predict, ytest)

0.94627879555022942