In [1]:
import pandas as pd
import numpy as np

In [276]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')
train_data.head()

,portfolio_id,desk_id,office_id,pf_category,start_date,sold,country_code,euribor_rate,currency,libor_rate,bought,creation_date,indicator_code,sell_date,type,hedge_value,status,return
0,PF00001002,DSK00001001,OFF00001002,B,20040720,110000000.0,T,0.02074,USD,2.332216,1.098097e+08,20040720,NaN,20040812,B,NaN,NaN,0.02496
1,PF00001003,DSK00001002,OFF00001001,A,20040709,176671000.0,N,0.02074,GBP,5.269617,1.760084e+08,20040723,NaN,20040812,C,NaN,NaN,0.05496
2,PF00001005,DSK00001004,OFF00001001,A,20040723,56474000.0,T,0.02074,USD,2.332216,5.637953e+07,20040723,NaN,20040817,A,NaN,NaN,0.02496
3,PF00001006,DSK00001005,OFF00001001,A,20040609,164813000.0,T,0.02074,USD,2.332216,1.645088e+08,20040723,NaN,20040713,A,NaN,NaN,0.02496
4,PF00001007,DSK00001005,OFF00001002,B,20040609,140800000.0,T,0.02074,USD,2.332216,1.405402e+08,20040723,NaN,20040713,B,NaN,NaN,0.02496

In [277]:
print(train_data.shape)
print(test_data.shape)

(9366, 18)
(4801, 17)

In [278]:
train_data.isnull().sum()

portfolio_id         0
desk_id           3665
office_id            0
pf_category          0
start_date           0
sold                 2
country_code         0
euribor_rate         0
currency             0
libor_rate         474
bought               2
creation_date        0
indicator_code    5699
sell_date            0
type                 0
hedge_value       5701
status            3084
return               0
dtype: int64

In [279]:
del train_data['portfolio_id']
del test_data['portfolio_id']

target = train_data['return']
del train_data['return']

In [280]:
train_data.describe()

,start_date,sold,euribor_rate,libor_rate,bought,creation_date,sell_date
count,9.366000e+03,9.364000e+03,9366.000000,8892.000000,9.364000e+03,9.366000e+03,9.366000e+03
mean,2.011706e+07,1.019740e+08,0.009383,0.998066,1.018914e+08,2.011706e+07,2.011770e+07
std,3.052996e+04,1.928066e+08,0.013298,1.457977,1.927472e+08,3.052372e+04,3.060900e+04
min,2.004041e+07,1.100000e+00,-0.003740,-0.667095,1.099698e+00,2.004072e+07,2.004071e+07
25%,2.010020e+07,2.763200e+07,0.000980,0.244490,2.761285e+07,2.010020e+07,2.010023e+07
50%,2.011120e+07,5.517050e+07,0.004390,0.531983,5.512056e+07,2.011120e+07,2.011121e+07
75%,2.014071e+07,1.144632e+08,0.013510,1.109959,1.144459e+08,2.014071e+07,2.014083e+07
max,2.017103e+07,1.320000e+10,0.050880,6.379137,1.320000e+10,2.017103e+07,2.017103e+07

In [281]:
train_data.dtypes

desk_id            object
office_id          object
pf_category        object
start_date          int64
sold              float64
country_code       object
euribor_rate      float64
currency           object
libor_rate        float64
bought            float64
creation_date       int64
indicator_code     object
sell_date           int64
type               object
hedge_value        object
status             object
dtype: object

In [282]:
train_data.desk_id.fillna('None', inplace=True)
train_data.libor_rate.fillna(train_data.libor_rate.mean(), inplace=True)
train_data.sold.fillna(train_data.sold.mean(), inplace=True)
train_data.bought.fillna(train_data.bought.mean(), inplace=True)
train_data.indicator_code.fillna('None', inplace=True)
train_data.hedge_value.fillna('None', inplace=True)
train_data.status.fillna('None', inplace=True)


test_data.desk_id.fillna('None', inplace=True)
test_data.libor_rate.fillna(test_data.libor_rate.mean(), inplace=True)
test_data.sold.fillna(test_data.sold.mean(), inplace=True)
test_data.bought.fillna(test_data.bought.mean(), inplace=True)
test_data.indicator_code.fillna('None', inplace=True)
test_data.hedge_value.fillna('None', inplace=True)
test_data.status.fillna('None', inplace=True)

In [283]:
train_data.describe()

,start_date,sold,euribor_rate,libor_rate,bought,creation_date,sell_date
count,9.366000e+03,9.366000e+03,9366.000000,9366.000000,9.366000e+03,9.366000e+03,9.366000e+03
mean,2.011706e+07,1.019740e+08,0.009383,0.998066,1.018914e+08,2.011706e+07,2.011770e+07
std,3.052996e+04,1.927860e+08,0.013298,1.420601,1.927266e+08,3.052372e+04,3.060900e+04
min,2.004041e+07,1.100000e+00,-0.003740,-0.667095,1.099698e+00,2.004072e+07,2.004071e+07
25%,2.010020e+07,2.763475e+07,0.000980,0.252730,2.761659e+07,2.010020e+07,2.010023e+07
50%,2.011120e+07,5.518150e+07,0.004390,0.562060,5.513453e+07,2.011120e+07,2.011121e+07
75%,2.014071e+07,1.144412e+08,0.013510,1.063886,1.144225e+08,2.014071e+07,2.014083e+07
max,2.017103e+07,1.320000e+10,0.050880,6.379137,1.320000e+10,2.017103e+07,2.017103e+07

In [284]:
from sklearn.preprocessing import LabelEncoder

In [285]:
label_encoder = LabelEncoder()
boolean_cols = ['indicator_code', 'hedge_value', 'status']
for cols in train_data.columns:
    if train_data[cols].dtype == 'object' and cols not in boolean_cols:
        print(cols)
        label_encoder.fit(np.hstack((train_data[cols], test_data[cols])))
        train_data[cols] = label_encoder.transform(train_data[cols])
        test_data[cols] = label_encoder.transform(test_data[cols])

desk_id
office_id
pf_category
country_code
currency
type

In [286]:
print(train_data.indicator_code.unique())
print(train_data.hedge_value.unique())
print(train_data.status.unique())

['None' True]
['None' True False]
['None' True]

In [287]:
def function(x):
    if x == True:
        return 0
    elif x == False:
        return 1
    else:
        return 2

In [288]:
train_data['indicator_code'] = train_data.indicator_code.apply(function)
train_data['hedge_value'] = train_data.hedge_value.apply(function)
train_data['status'] = train_data.status.apply(function)

In [289]:
test_data['indicator_code'] = train_data.indicator_code.apply(function)
test_data['hedge_value'] = train_data.hedge_value.apply(function)
test_data['status'] = test_data.status.apply(function)

In [290]:
test_data.dtypes

desk_id             int64
office_id           int64
pf_category         int64
start_date          int64
sold              float64
country_code        int64
euribor_rate      float64
currency            int64
libor_rate        float64
bought            float64
creation_date       int64
indicator_code      int64
sell_date           int64
type                int64
hedge_value         int64
status              int64
dtype: object

In [291]:
20040720 // 100

200407

In [292]:
def fun2(x):
    return x%100
def fun3(x):
    return x//100

In [293]:
# train_data['start_date_day'] = train_data.start_date.apply(fun2)
# train_data['start_date'] = train_data.start_date.apply(fun3)

# train_data['start_date_mon'] = train_data.start_date.apply(fun2)
# train_data['start_date'] = train_data.start_date.apply(fun3)

# train_data['start_date_year'] = train_data.start_date

del train_data['start_date']



# train_data['creation_date_day'] = train_data.creation_date.apply(fun2)
# train_data['creation_date'] = train_data.creation_date.apply(fun3)

# train_data['creation_date_mon'] = train_data.creation_date.apply(fun2)
# train_data['creation_date'] = train_data.creation_date.apply(fun3)

# train_data['creation_date_year'] = train_data.creation_date

del train_data['creation_date']


# train_data['sell_date_day'] = train_data.sell_date.apply(fun2)
# train_data['sell_date'] = train_data.sell_date.apply(fun3)

# train_data['sell_date_mon'] = train_data.sell_date.apply(fun2)
# train_data['sell_date'] = train_data.sell_date.apply(fun3)

# train_data['sell_date_year'] = train_data.sell_date

del train_data['sell_date']

In [294]:
# test_data['start_date_day'] = test_data.start_date.apply(fun2)
# test_data['start_date'] = test_data.start_date.apply(fun3)

# test_data['start_date_mon'] = test_data.start_date.apply(fun2)
# test_data['start_date'] = test_data.start_date.apply(fun3)

# test_data['start_date_year'] = test_data.start_date

del test_data['start_date']


# test_data['creation_date_day'] = test_data.creation_date.apply(fun2)
# test_data['creation_date'] = test_data.creation_date.apply(fun3)

# test_data['creation_date_mon'] = test_data.creation_date.apply(fun2)
# test_data['creation_date'] = test_data.creation_date.apply(fun3)

# test_data['creation_date_year'] = test_data.creation_date

del test_data['creation_date']



# test_data['sell_date_day'] = test_data.sell_date.apply(fun2)
# test_data['sell_date'] = test_data.sell_date.apply(fun3)

# test_data['sell_date_mon'] = test_data.sell_date.apply(fun2)
# test_data['sell_date'] = test_data.sell_date.apply(fun3)

# test_data['sell_date_year'] = test_data.sell_date

del test_data['sell_date']

In [295]:
train_data.head()

,desk_id,office_id,pf_category,sold,country_code,euribor_rate,currency,libor_rate,bought,indicator_code,type,hedge_value,status
0,0,1,1,110000000.0,2,0.02074,4,2.332216,1.098097e+08,2,1,2,2
1,1,0,0,176671000.0,1,0.02074,2,5.269617,1.760084e+08,2,2,2,2
2,3,0,0,56474000.0,2,0.02074,4,2.332216,5.637953e+07,2,0,2,2
3,4,0,0,164813000.0,2,0.02074,4,2.332216,1.645088e+08,2,0,2,2
4,4,1,1,140800000.0,2,0.02074,4,2.332216,1.405402e+08,2,1,2,2

In [296]:
train_data.describe()

,desk_id,office_id,pf_category,sold,country_code,euribor_rate,currency,libor_rate,bought,indicator_code,type,hedge_value,status
count,9366.000000,9366.000000,9366.000000,9.366000e+03,9366.000000,9366.000000,9366.000000,9366.000000,9.366000e+03,9366.000000,9366.000000,9366.000000,9366.000000
mean,3993.666453,0.689515,1.403587,1.019740e+08,0.915973,0.009383,1.452915,0.998066,1.018914e+08,1.216955,2.690476,1.477578,0.658552
std,1593.812905,0.462717,0.927278,1.927860e+08,1.167676,0.013298,1.813126,1.420601,1.927266e+08,0.976234,1.764565,0.715386,0.939951
min,0.000000,0.000000,0.000000,1.100000e+00,0.000000,-0.003740,0.000000,-0.667095,1.099698e+00,0.000000,0.000000,0.000000,0.000000
25%,3009.250000,0.000000,0.000000,2.763475e+07,0.000000,0.000980,0.000000,0.252730,2.761659e+07,0.000000,1.000000,1.000000,0.000000
50%,4715.000000,1.000000,2.000000,5.518150e+07,0.000000,0.004390,0.000000,0.562060,5.513453e+07,2.000000,4.000000,2.000000,0.000000
75%,5301.000000,1.000000,2.000000,1.144412e+08,2.000000,0.013510,4.000000,1.063886,1.144225e+08,2.000000,4.000000,2.000000,2.000000
max,5301.000000,1.000000,4.000000,1.320000e+10,4.000000,0.050880,4.000000,6.379137,1.320000e+10,2.000000,7.000000,2.000000,2.000000

In [297]:
train_data.isnull().sum()

desk_id           0
office_id         0
pf_category       0
sold              0
country_code      0
euribor_rate      0
currency          0
libor_rate        0
bought            0
indicator_code    0
type              0
hedge_value       0
status            0
dtype: int64

In [298]:
from sklearn.preprocessing import StandardScaler

In [299]:
scaler = StandardScaler()
train_data = scaler.fit_transform(train_data)
test_data = scaler.fit_transform(test_data)

In [300]:
from sklearn.cross_validation import train_test_split
from sklearn.metrics import r2_score, accuracy_score

In [301]:
xtrain, xtest, ytrain, ytest = train_test_split(train_data, target, test_size = 0.05, random_state = 42)

In [302]:
xtrain.shape

(8897, 13)

In [303]:
from sklearn.ensemble import RandomForestRegressor

In [304]:
random_forest = RandomForestRegressor(n_estimators=100)

In [305]:
random_forest.fit(xtrain, ytrain)
print(random_forest.score(xtest, ytest))
print(r2_score(random_forest.predict(xtest), ytest))

0.193685223625
-3.15580808216

In [268]:
pred1 = random_forest.predict(test_data)

In [269]:
pred1

array([ 0.0258337 ,  0.02555006,  0.0252336 , ...,  0.0061809 ,
        0.00550213,  0.0060355 ])

In [270]:
test = pd.read_csv('test.csv')

In [271]:
df = pd.DataFrame(data = {'portfolio_id':test.portfolio_id, 'return':pred1})
df.head()

  portfolio_id    return
0   PF00001001  0.025834
1   PF00001004  0.025550
2   PF00001009  0.025234
3   PF00001013  0.025535
4   PF00001014  0.025534

In [272]:
df.to_csv('submission1.csv', index=False)

In [273]:
sub = pd.read_csv('submission1.csv')
sub.head()

  portfolio_id    return
0   PF00001001  0.025834
1   PF00001004  0.025550
2   PF00001009  0.025234
3   PF00001013  0.025535
4   PF00001014  0.025534

In [274]:
from sklearn.ensemble import BaggingRegressor

In [275]:
bag = RandomForestRegressor(n_estimators=20)
bag.fit(xtrain, ytrain)
print(bag.score(xtest, ytest))
print(r2_score(bag.predict(xtest), ytest))

0.214624067233
-3.00580504822

In [306]:
from sklearn.svm import SVR

In [329]:
svr = SVR(kernel = 'rbf', C=100000000000000000000000, gamma=0.0000000001)

In [ ]:
svr.fit(xtrain, ytrain)
svr.score(xtest, ytest)

In [328]:
r2_score(svr.predict(xtest), ytest)

-4674041.4978019204